<!-- taken fron 99. here just in case... -->
<section>
  <div class="container">
    <div class="box">
<br /><h1 class='all_pages'>Заявление на прикрепление Онлайн</h1><br /><p class="content_header no_margin_left">Порядок прикрепления</p>
<br />
<p class="content_text no_margin_left">- Выбор или замена детской поликлиники  для ребенка до достижения им 18 лет, осуществляется его родителями или другими законными представителями, путем обращения в ГБУЗ "ДГП №99 ДЗМ";</p>
<p class="content_text no_margin_left">- Родитель или законный представитель лично  обращается в ДГП №99  в часы работы поликлиники с 8.00 до 20.00 и подает заявление в письменном виде:</p>
<ul class="med_list">
<li>Амбулаторный центр (ДГП №99) - каб.№1;
<li>Филиал №1 (ДГП №9) - ул. Лосевская,4, каб.№104;
<li>Филиал №2 (ДГП №55) - ул. Староалексеевская, д.18, каб.№138;
<li>Филиал №3 (ДГП №71) - 9-й проезд Марьиной Рощи,д.6.стр.1, каб.№103;
<li>Филиал №3 (ДГП №71) филиал - ул. М. Ботаническая, д.1, каб.№ 1.
</ul>
<p class="content_text no_margin_left">- При подаче заявления предъявляются оригиналы  следующих документов:
<p class="content_text no_margin_left">- Свидетельство о рождении ребенка (для детей от 0 до 14 лет, являющихся гражданами РФ) или паспорт гражданина РФ (для детей от 14 лет и старше);</p>
<p class="content_text no_margin_left">- Полис ОМС ребенка;</p>
<p class="content_text no_margin_left">- Документ, удостоверяющий личность законного представителя ребенка (паспорт) и документ, подтверждающий полномочия представителя;</p>
<p class="content_text no_margin_left">- Сотрудник ДГП №99, ответственный за прикрепление пациентов, знакомит родителей или законных представителей ребенка  с перечнем врачей-педиатров, сведениями о территориях обслуживания медицинскими работниками  при оказании медицинской помощи на дому, прикрепляет ребенка  к врачебному участку по территориальному признаку.</p>
<br />
<p class="content_text" style="font-style: italic;">Заполните расположенную ниже форму, сформированное заявление и информационное согласие распечатайте (желательно на одном листе с двух сторон).
С готовым заявлением Вы сможете обратиться в любое подразделение нашей поликлиники для прикрепления ребенка.
Готовое заявление сильно ускорит процедуру.</p><br />
<div style="height:10px;background: #CCCCCC;"></div>
<br />
<form class="form_online" target="_blank" action="/sys/docs/doc1.php" method="post">
<p class="content_header no_margin_left">Сведения о ребенке:</p><br />

<div class="row">
<div class="small-4">
Фамилия Имя Отчество
</div>
<div class="small-3">
<input  type="text" name="child_fio" placeholder="Фамилия Имя Отчество" required="required"/>
</div>
<div class="small-4 lightbluebg">
Например, Иванов Петр Алексеевич
</div>
</div>
<hr>
<div class="row">
<div class="small-4">
Фамилия Имя Отчество (в родительном падеже)
</div>
<div class="small-3">
<input  type="text" name="child_fior" placeholder="Фамилии Имени Отчества" required="required"/>
</div>
<div class="small-4 lightbluebg">
Например, Иванова Петра Алексеевича
</div>
</div>
<hr>
<div class="row">
<div class="small-4">
Дата рождения
</div>
<div class="small-3">
<input  type="date" name="child_birthday" required="required"/>
</div>
<div class="small-4 lightbluebg">
Например, 18.05.2015
</div>
</div>
<hr>
<div class="row">
<div class="small-4">
Пол
</div>
<div class="small-3">
<input  type="radio" name="child_gender" required="required" style="width: 20px;" value="1"/> Мужской <br />
<input  type="radio" name="child_gender" required="required" style="width: 20px;" value="2"/> Женский
</div>
<div class="small-4 lightbluebg">
Выберите 1 из вариантов
</div>
</div>
<hr>
<div class="row">
<div class="small-4">
Свидетельство о рождении или Паспортные данные ребенка
</div>
<div class="small-3">
<input  type="text" name="parent_passport_s" placeholder="Серия" required="required"/><p><br /></p>
<input  type="text" name="parent_passport_n" placeholder="Номер" required="required"/><p><br /></p>
<input  type="date" name="parent_passport_date" required="required"/><p><br /></p>
<textarea name="parent_passport_org" placeholder="Наименование органа, выдавшего документ" rows="3" required="required" style="font-weight:0;"></textarea>
</div>
<div class="small-4 lightbluebg">
Указывается документ, удостоверяющий личность
<p class="content_text"><a href="/images/help_born.png" class="image-gallery">Где это в свидетельстве?</a></p>
</div>
</div>
<hr>
<div class="row">
<div class="small-4">
Гражданство
</div>
<div class="small-3">
<input  type="text" name="child_country" placeholder="Гражданство" required="required"/>
</div>
<div class="small-4 lightbluebg">
Например, Российская Федерация
</div>
</div>
<hr>
<div class="row">
<div class="small-4">
Место рождения
</div>
<div class="small-3">
<textarea name="child_birthplace" placeholder="Место рождения" rows="3" required="required" style="font-weight:0;"></textarea>
</div>
<div class="small-4 lightbluebg">
Эти сведения можно взять из свидетельства о рождении<br />
Например, Россия, Московская область, г. Чехов
</div>
</div>
<hr>
<div class="row">
<div class="small-4">
СНИЛС
</div>
<div class="small-3">
<input  type="text" name="child_snils" placeholder="ХХХ-ХХХ-ХХХ ХХ"/>
</div>
<div class="small-4 lightbluebg">
Например, 123-456-789 07<p class="content_text"><a href="/images/help_snils.png" class="image-gallery">Где это в СНИЛС?</a></p>
</div>
</div>
<hr>
<div class="row">
<div class="small-4">
Сведения о полисе ОМС (или временном свидетельстве) Номер, Наименование организации, дата
</div>
<div class="small-3">
<input  type="text" name="child_oms_n" placeholder="Номер полиса ОМС" required="required"/><p><br /></p>
<input  type="text" name="child_oms_org" placeholder="Организация, выдавшая полис ОМС" required="required"/><p><br /></p>
<input  type="date" name="child_oms_date" required="required"/>
</div>
<div class="small-4 lightbluebg">
Сведения из полиса обязательного медицинского страхования
<p class="content_text"><a href="/images/help_oms.png" class="image-gallery">Где это в Полисе?</a></p>
</div>
</div>
<hr>
<div class="row">
<div class="small-4">
Место и дата регистрации по месту жительства (прописка)
</div>
<div class="small-3">
<textarea name="child_reg_place" placeholder="Адрес регистрации" rows="3" required="required" style="font-weight:0;"></textarea><p><br /></p>
<input  type="date" name="child_reg_date" required="required"/>
</div>
<div class="small-4 lightbluebg">
Эти сведения можно взять из паспорта ребенка или свидетельства о регистрации ребенка<br />
<p class="content_text"><a href="/images/help_passport.png" class="image-gallery">Где это в Паспорте?</a></p>
<p class="content_text"><a href="/images/help_svidreg.png" class="image-gallery">Где это в Свидетельстве?</a></p>
</div>
</div>
<hr>
<div class="row">
<div class="small-4">
Место регистрации по месту пребывания (временная прописка)
</div>
<div class="small-3">
<textarea name="child_faddress" placeholder="Фактический адрес" rows="3" style="font-weight:0;"></textarea>
</div>
<div class="small-4 lightbluebg">
Фактический адрес, нужен для оказания помощи на дому, заполняется в случае отличия от Места регистрации по месту жительства<br />
Например, г. Москва, ул. Сергея Эйзенштейна, дом 777, квартира 1010
</div>
</div>

<br />
<div style="height:10px;background: #CCCCCC;"></div>
<br />
<p class="content_header no_margin_left">Сведения о родителе (законном представителе):</p><br />

<div class="row">
<div class="small-4">
Фамилия Имя Отчество
</div>
<div class="small-3">
<input  type="text" name="parent_fio" placeholder="Фамилия Имя Отчество" required="required"/>
</div>
<div class="small-4 lightbluebg">
Например, Иванов Алексей Викторович
</div>
</div>
<hr>
<div class="row">
<div class="small-4">
Фамилия Имя Отчество (в родительном падеже)
</div>
<div class="small-3">
<input  type="text" name="parent_fior" placeholder="Фамилии Имени Отчества" required="required"/>
</div>
<div class="small-4 lightbluebg">
Например, Иванова Алексея Викторовича
</div>
</div>
<hr>
<div class="row">
<div class="small-4">
Номер телефона
</div>
<div class="small-3">
<input  type="text" name="parent_phone" placeholder="Номер телефона" required="required"/>
</div>
<div class="small-4 lightbluebg">
Например, +7 999 000-00-00
</div>
</div>
<hr>
<div class="row">
<div class="small-4">
Основание представительства
</div>
<div class="small-3">
<input  type="text" name="parent_reason" placeholder="Основание представительства" required="required"/>
</div>
<div class="small-4 lightbluebg">
Например, мать, отец, опекун и т.п.
</div>
</div>
<hr>
<div class="row">
<div class="small-4">
Вид, номер, дата и место выдачи документа, удостоверяющего личность родителя (законного представителя)
</div>
<div class="small-3">
<textarea name="parent_reason_doc" placeholder="Вид, номер, дата и место выдачи документа" rows="5" required="required" style="font-weight:0;"></textarea>
</div>
<div class="small-4 lightbluebg">
Например, Паспорт, 4500 000000, 31.06.1980 г., Егоровский отдел МВД Москвы
</div>
</div>

<br />
<hr>
<br />
<div class="center"><input type="submit" value="Сформировать"/></div>
<div class="personal_agree center">
Нажимая кнопку "Сформировать" Вы подтверждаете, что даёте согласие на обработку персональных данных, указанных в данной форме.<br />
Мы не храним Ваши персональные данные.
</div>
</form>
    </div>
  </div>
</section>
