.magnification {
    transition: transform 0.2s, filter 0.2s;
    transition-timing-function: cubic-bezier(0,.7,.69,1);
    // http://cubic-bezier.com/

  &:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    filter: drop-shadow(0px 12px 15px $complimentary-darkest);
  }

}
