.bg-white {
  background-color: $white;
}

.bg-accent-darkest {
    background-color: $accent-darkest;
}

.bg-accent-dark {
    background-color: $accent-dark;
}

.bg-accent {
    background-color: $accent;
}

.bg-accent-light {
    background-color: $accent-light;
}

.bg-accent-dark {
    background-color: $accent-dark;
}

.bg-grey {
    background-color: $grey !important;
}

.bg-complimentary-dark {
  background-color: $complimentary-dark;
}

.bg-complimentary-darkest {
    background-color: $complimentary-darkest;
}

.bg-third {
  background-color: $third;
}

.bg-third-dark {
  background-color: $third-dark;
}

.bg-third-darkest {
  background-color: $third-darkest;
}

.bg-third:hover {
  background-color: $third-dark;
}

$angle: 4em;
.partial-separator {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      border-width: 0;
      width: 0;
      height: 0;
      border-style: solid;
    }

    &::after {
      position: absolute;
      content: "";
      border-width: 0;
      width: 0;
      height: 0;
      border-style: solid;
    }
}

.skew-separator--top__complimentary-dark {
  @extend .partial-separator;

  &::before {
    border-left-color: $complimentary-dark;
    border-left-width: 100vw;
    border-top-color: $white;
    border-top-width: $angle;
    bottom: 0;
    z-index: -1;
  }
}

.skew-separator--bottom__complimentary-dark {
  @extend .partial-separator;

  &::before {
    top: 0;
    border-right-width: 100vw;
    border-right-color: $complimentary-dark;
    border-bottom-width: $angle;
    border-bottom-color: $transparent;
    // z-index: -1;
  }
}

.skew-separator--bottom__complimentary-dark + section,
.home-offer-separator--bottom + section {
  padding-top: 3rem;
}

.home-offer-separator--top {
  @extend .partial-separator;

  &::before {
    top: 0;
    left: 1px;
    border-right-width: 50vw;
    border-right-color: $grey;
    border-bottom-width: $angle/2;
    border-bottom-color: $transparent;
    z-index: 100;
  }

  &::after {
    top: 0;
    right: 0;
    border-left-width: 50vw;
    border-left-color: $grey;
    border-bottom-width: $angle/2;
    border-bottom-color: $transparent;
    z-index: 100;
  }
}

.home-offer-separator--bottom {
  @extend .partial-separator;
  // transform: translateY(0px);

  &::before {
    bottom: 0;
    left: 1px;
    border-right-width: 50vw;
    border-right-color: $grey;
    border-top-width: $angle/2;
    border-top-color: $transparent;
    // z-index: -1;
  }

  &::after {
    bottom: 0;
    left: 50%;
    border-left-width: 50vw;
    border-left-color: $grey;
    border-top-width: $angle/2;
    border-top-color: $transparent;
    // z-index: -1;
  }
}

// .table-in-table * {
//   background-color: transparent;
//   border-color: transparent;
// }
