// .gradient-under-title-on-banner {
//   background-image: linear-gradient(to right, $white 20%, transparent 20%);
//   position: absolute;
//   bottom: 0;
//   height: 2.875rem;
//   width: 50px;
//   // linear-gradient(to right, #e5e5e5 15%, #e5e5e5 15%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 100%)
// }

.title-on-banner {
  position: absolute;
  bottom: 0;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  padding: 0.3em 1em;
  background-color: transparentize($white, 0.2);
  // background-image: linear-gradient(to right, $white 80%, transparent);
}
