// .comments_container {
//   background-color: $grey;
//   padding-left: 5rem;
//   padding-right: 5rem;
//   padding-top: 2rem;
//   padding-bottom: 2rem;
// }

.comment-body {

}

.bypostauthor {
  background-color: $grey;
}

.bg-grey .bypostauthor {
  background-color: $white;
}

.comment {
  list-style: none;
  border-left: 3px solid $grey;

  ul {
    margin-top: 1rem;
    margin-bottom: 0;
    //
    // border-left: 3px solid $grey;
  }

  margin-bottom: 1rem;
  padding: 1rem;
}

.bg-grey .comment {
  border-left: 3px solid $white;
}

.comment footer {
  padding-top: 1rem;
}

.comment-author.vcard {
  color: $accent;
}
