
// кажется, не работает
video::-webkit-media-controls-start-playback-button {
  display: none;
}

.dots-overlay {
  position: relative;
}


.dots-overlay::after {
  content: "";
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEqRgDDwAAAABJRU5ErkJggg==);
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  z-index: 10;
}

.accent-light-back-and-white-text-on-hover:hover {
  background-color: $accent-light;
  transition: background-color 0.2s;
}

.accent-light-back-and-white-text-on-hover:hover a {
  color: $white;
  transition: color 0.2s;
}

.hover-effect {
  // filter: opacity(75%);
  transition: transform 0.2s, filter 0.2s;
  &:hover {
    transition: transform 0.2s, filter 0.2s;
    transform: scale3d(1.05, 1.05, 1.05);
    // filter: drop-shadow(0px 12px 15px $complimentary-darkest);
    // filter: blur(2px);
    // filter: opacity(20%);
  }
}
