.button {
  font-weight: bold;
  text-transform: uppercase;
}

.welcome-blocks {
  @include breakpoint(large) {
    padding-left: .9375rem;
    padding-right: .9375rem;
    margin-top: 3rem;
  	margin-bottom: 5rem;
  }
  @include breakpoint(medium only) {
    margin-top: 2rem;
  	margin-bottom: 3rem;
  }
  @include breakpoint(small only) {
    margin-top: 1rem;
  	margin-bottom: 1rem;
  }
}

.breadcrumbs {
  margin-top: 1em;
}

table {
  overflow: hidden;
}

.bg-grey table {
  tr {
    background-color: $grey;
  }
  tbody {
    border-width: 0;
  }
}



.table-cells-proportions {
  table-layout: fixed;
}


.table-cells-proportions td:first-child {
  width: 60%;
}

.table-cells-proportions td:last-child {
  text-align: right;
}

.table-cells-proportions p {
  white-space: normal;
}



// .table-cells-proportions tbody tr:nth-child(even) {
//   background-color: transparent;
// }
//
// table tbody > tr:nth-child(even) {
//   background-color: $grey-light;
// }

.pricelist-table {
  table-layout: fixed;
}

.pricelist-table .article {
  width: 8rem;
}

.pricelist-table .price, .pricelist-table .oms_lkg {
  width: 6rem;
}

// .pricelist-table td:first-child {
//   // width: 15%;
// }
//
// .pricelist-table th:last-child {
//   width: 15%;
// }
