// PADDINGS

section {
  padding-bottom: 3rem;
  .bg-grey { padding-top: 3rem; }
  .bg-grey+section { padding-top: 3rem; }
  // :first-of-type { padding-top: 0; }
}

footer {
  @include breakpoint(small) { padding-top: 2rem; }
  @include breakpoint(medium) { padding-top: 4rem; }
  @include breakpoint(large) { padding-top: 6rem; }
}

.circle {
  border-radius: 50%;
  overflow: hidden;
}


.padding-left {
  padding-left: 1rem;
}

.bottom-footer {
  padding-bottom: 2em;
  padding-top: 2em;
}

.border-accent-light { border: solid 1px $accent-light; }

.padding { padding: 1.5em; }

.padding-big {
  padding: 5em;
}

.padding-s {
  padding: .5em;
}

.padding-top {
  padding-top: 1rem;
}

.padding-t-l,
.padding-top-l {
  padding-top: 2rem;
}

.padding-top-xl {
  padding-top: 3.5rem;
}

.padding-l {
  padding: 2em;
}

.padding-bottom {
  padding-bottom: 1em;
}

.padding-on-small {
  @include breakpoint(small only) {
    padding-bottom: 2rem;
    padding-left: 3.5em;
    padding-right: 3.5em;
  }
}

.padding-b {
  padding-bottom: 1em;
}

.padding-bottom-l,
.padding-b-l {
  padding-bottom: 2em;
}

.padding-b-xl {
  padding-bottom: 5rem;
}

.padding-tb-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.padding-tb-s {
  padding-bottom: .5em;
  padding-top: .5em;
}

.padding-tb-m {
  padding-bottom: 1em;
  padding-top: 1em;
}

.padding-tb-l {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.padding-tb-xl {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.padding-tb-xxl {
  padding-bottom: 5em;
  padding-top: 5em;

}

// MARGINS

.margin-big {
  margin-bottom: 7em;
  margin-top: 7em;
}

.margin-tb-s {
  margin-bottom: .5em;
  margin-top: .5em;
}

.margin-tb {
  margin-bottom: 1em;
  margin-top: 1em;
}

.margin-tb-l {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.margin-tb-xl {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.margin-b {
  margin-bottom: 1rem;
}

.margin-l {
  margin: 2em;
}

.margin-top-l {
  margin-top: 2em;
}

.margin-b-0 {
  margin-bottom: 0;
}

.margin-b-l {
  margin-bottom: 2rem;
}

.margin-b-xl {
  margin-bottom: 5rem;
}

.margin-lr-s {
  margin-left: .5rem;
  margin-right: .5rem;
}

// BLOCKS GEOMETRY

.float-right {
  float: right;
  // width: 30vw;
}

.clearfix {
  ::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }
}

.move-up {
  // Large and up
  @media screen and (min-width: 40em) {
    transform: translateY(-4rem);
  }
}
