// ГЛАВНОЕ МЕНЮ


.mm-align-items-center {
  align-items: center;
}

.main-menu {
  ul {
    @extend .padding-tb-m;

    justify-content: center;
    align-items: center;
    display: flex;
    li {
      margin: .3rem;
    }
  }
}

@include breakpoint(medium down) {
  .main-menu {
    ul {
      flex-wrap: wrap;
    }
  }
  // исчезает лого (на нем висит стиль show-for-large)

  .main-menu {
    flex-basis: 100%;
  }
}

.logo--top,
.logo--extratop {
  max-height: 5rem;
  width: auto;
  // width: 10rem;
}

.current-menu-item {
  font-weight: bold;
}

.menu-special {
  @extend .border-accent-light;
  @extend .accent-light-back-and-white-text-on-hover;
  padding: .3rem;
}

.logo-and-menu-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
