.float-left {
  float: left;
  margin-right: 2rem;
  @include breakpoint(large) {
    width: 40%;
  }
  @include breakpoint(medium only) {
    width: 40%;
  }
  @include breakpoint(small only) {
    width: 100%;
  }
}

.float-right {
  float: right;
  margin-right: 2rem;
  @include breakpoint(large) {
    width: 40%;
  }
  @include breakpoint(medium only) {
    width: 40%;
  }
  @include breakpoint(small only) {
    width: 100%;
  }
}

.clear-both {
  clear: both;
}

// Z-index

.z-index-100 {
  z-index: 100;
}

.z-index-min-1 {
  z-index: -1;
}

// Заголовок департамента
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.crazy-test {
  display: flex;
}

.center-translate {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-translate-y {
  top: 50%;
  transform: translate(0, -50%);
}

.lower-3rd {
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.higher-3rd {
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.offer_height {
  position: relative;
  overflow: hidden;
  min-height: 25rem;
  max-height: 50vh !important;
  @include breakpoint(large) {
    height: 23vh;
  }
  @include breakpoint(medium only) {
    height: 25vh;
  }
  @include breakpoint(small only) {
    height: 30vh;
  }
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center-vertically {
  display: flex;
  justify-content: center;
  align-items: center;
}
