.size-hight-header {
  height: 20rem;
}

.full-width {
    width: 100%;
    max-width: initial;
}

.almost-full-width {
  width: 60%;
}

.full-height {
    height: 100%;
}


.img-cover {
  min-height: 100%;
  min-width: 100%;
}


.limited-max-width {
    max-height: 50vh;
}

/* http://stackoverflow.com/questions/27852840/setting-div-height-based-on-its-width
start */

.fixed-proportions-box{
    position: relative;
    width: 100%;     /* desired width */
}
.fixed-proportions-box:before{
    content: "";
    display: block;
    padding-top: 100%;  /*What you want the height to be in relation to the width*/
}

.fixed-proportions-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

// .pull-to-bottom {
//   position: absolute;
//   bottom: 0;
//   left: 0;
// }

.no-more-than-container {
  max-width: 100%;
  max-height: 100%;
}

/* end */
