// COMPLEX

footer {
  hr {
    border-bottom-color: $accent-darkest;
  }

  .menu-item {
    line-height: 1.2rem;
    padding-bottom: .3rem;
    padding-top: .3rem;
  }

  li {
    a {
      color: $accent-light;
    }
  }

  p {
    color: $accent-light;
  }
}

//  SIZES
.line-height--bigger {
  line-height: 2.3em;
}

.line-height--xxl {
  line-height: 5em;
}

.font-size-smaller {
  font-size: .8em;
}

.h2-subtitle {
  font-size: 1.2em;
}

// COLORS

a.bg-accent-light, a.bg-accent, a.bg-accent-dark, a.bg-accent-darkest, footer, .bottom-footer, .bg-complimentary-dark, .bg-complimentary-darkest, .bg-offer, h1.home, .white-text, h1 a {
  color: $white;
 }

.font-color-accent-light {
  color: $accent-light;
 }

.font-color-accent {
  color: $accent;
}

%font-color-white {
  color: $white;
}

.font-color-white {
  @extend %font-color-white;
}

.font-color-accent-darkest {
  color: $accent-darkest;
}

.font-color-grey {
  color: $grey;
}

.black-text {
  color: $black;
}

.h2-subtitle {
  color: $grey-dark;
}

// СПИСКИ

// .ul-without-formatting {
//   list-style: none;
//   margin-left: 0;
// }

// ПРОЧЕЕ

.nowrap {
  white-space: nowrap;
}

.uppercase,
.button,
h2.offer {
   text-transform: uppercase;
 }

.font-complimentary-dark {
  color: $complimentary-dark;
}

.hero-icon {
  &::before {
    display: block;
    padding-bottom: 1.5rem;
  }
}

h1.home {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.partial--button-with-icon {
  border-width: 0;
  font-weight: bold;
  padding-left: 4rem;
  padding-right: 1.5em;
  position: relative;
  text-transform: uppercase;
}

.partial--button-with-icon-i {
  top: 0;
  bottom: 0;
  width: 2.5rem;
  height: 100%;
  line-height: 100%;
  position: absolute;
}

.partial--button-with-icon-i-before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // text-align: center;
  font-size: 1.2em;
}

.button-with-icon--left {
  @extend .partial--button-with-icon;
  padding-left: 3rem;
  // background-color: $third;
}

.button-with-icon--left i {
  @extend .partial--button-with-icon-i;
  left: 0;
  background-color: $accent-darkest;

  &::before {
    @extend .partial--button-with-icon-i-before;
  }
}

.button-with-icon--right {
  @extend .partial--button-with-icon;
  padding-right: 4rem;
  padding-left: 1.5em;
}

.button-with-icon--right i {
  @extend .partial--button-with-icon-i;
  right: 0;
  width: 3em;
  background-color: $third-darkest;

  &::before {
    @extend .partial--button-with-icon-i-before;
  }
}


.button-with-icon--transparent {
  @extend .partial--button-with-icon;
  padding-left: 3rem;
  background-color: transparent;
  text-align: left;
  line-height: 1.2rem;
  &:hover, &:focus {
    background-color: transparent;
  }
}

.button-with-icon--transparent i {
  @extend .partial--button-with-icon-i;
  left: 0;
  background-color: $complimentary-darkest;

  &::before {
    @extend .partial--button-with-icon-i-before;
  }
}
