// функция hsb отсюда https://www.sitepoint.com/hsb-colors-with-sass/
// использую, поскольку adobe color wheel показывает в нем, а в sass есть
// только hsl

@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a);
  } @else {
    $l-hsl: ($b-hsb / 2) * (2 - ($s-hsb / 100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}

// ОСНОВНЫЕ ЦВЕТА
// 3bcdc4 -
$accent: hsb(176, 71%, 80%) !default; // то же что #3bcdc4, цвет иконок
$accent: darken($accent, 9%) !default; // иначе текст плохо видно

$hue-shift: 15% !default;

$complimentary: adjust-hue($accent, $hue-shift) !default;
$third: adjust-hue($accent, 1.4 * $hue-shift) !default;

// БАЗОВЫЕ ЦВЕТА

$base-black: #000;
$white: #fff;

$black: lighten($base-black, 5%) !default;
$grey: darken($white, 10%) !default;
$grey-light: darken($white, 7%) !default;
$grey-dark: darken($white, 55%) !default;


// ПРОИЗВОДНЫЕ ЦВЕТА
$accent-dark: darken($accent, 5%) !default;
$accent-darkest: darken($accent, 15%) !default;
$accent-light: lighten($accent, 15%) !default;

$complimentary-dark: darken($complimentary, 15%) !default;
$complimentary-darkest: darken($complimentary-dark, 10%) !default;

$third-dark: darken($third, 15%) !default;
$third-darkest: darken($third-dark, 10%) !default;

// ТИПОГРАФИКА

// Цвета шрифтов
$font-color: $black !default;


// Размеры шрифтов
$base-font-size: 1em;
$smaller-font-size: $base-font-size * .7 !default;
$small-font-size: $base-font-size * .9 !default;
$bigger-font-size: $base-font-size * 1.2 !default;
$giant-font-size: $base-font-size * 2.2 !default;

//Колонки
