// ОСНОВНЫЕ ЦВЕТА

$accent: rgb(33, 157, 229) !default; //  основной цвет темы #2199e8;
// $accent: #55a7d8;
// $accent: #2199e8; //  основной цвет темы #2199e8;

$complimentary: desaturate(adjust-hue($accent, 12), 35%) !default; // дополнительный цвет темы
$third: #5cb85c !default;

// БАЗОВЫЕ ЦВЕТА

$base-black: #000 !default;
$white: #fff !default;

$black: lighten($base-black, 5%) !default;
$grey: darken($white, 10%) !default;
$grey-light: darken($white, 7%) !default;
$grey-dark: darken($white, 55%) !default;

// ПРОИЗВОДНЫЕ ЦВЕТА
$accent-dark: darken($accent, 5%) !default;
$accent-darkest: darken($accent, 15%) !default;
$accent-light: lighten($accent, 7%) !default;

$complimentary-dark: darken($complimentary, 23%) !default;
$complimentary-darkest: darken($complimentary, 35%) !default;

$third-dark: darken($third, 12%) !default;
$third-darkest: darken($third, 23%) !default;

$transparent: rgba(0, 0, 0, 0);

// ТИПОГРАФИКА

// Цвета шрифтов
$font-color: $black;


// Размеры шрифтов
$base-font-size: 1em !default;
$smaller-font-size: $base-font-size * .7 !default;
$small-font-size: $base-font-size * .9 !default;
$bigger-font-size: $base-font-size * 1.2 !default;
$giant-font-size: $base-font-size * 2.2 !default;

//Колонки
