@import  'includes/variables'; // наши переменные

@import 'includes/foundation-settings'; // переменные foundation

@import '../../bower_components/foundation-sites/assets/foundation-flex'; // подргрузка foundation

@import  'includes/menu';
@import  'includes/typography';
@import  'includes/background';
@import  'includes/geometry';
@import  'includes/animations';
@import  'includes/positions';
@import  'includes/sizes';
@import  'includes/elements';
@import  'includes/banner';
@import  'includes/effects';
@import  'includes/comments';

// .no-js {
//   display: none;
// }

.toggle-low-vision {
  cursor: pointer;
}

.low-vision {
  font-size: 150%;
}

.display-block {
  display: block;
}

// ВСЯКИЕ СПЕЦЭФФЕКТЫ

.brightness-less {
  filter: brightness(57%);
}

.overflow-hidden {
  overflow: hidden;
}

// preventing FOUC

.no-js {
  .top-bar {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .no-js {
    .top-bar {
      display: block;
    }
  }
}
